*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  /* tamanho das notas */
  --size: 290px;

  /* box shadow geral */
  --bx-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px #373636;

  /* cores da aplicação */
  --neutral-clr: #484848;
  --main-color-50: #edfaff;
  --main-color-100: #d6f2ff;
  --main-color-200: #b5eaff;
  --main-color-500: #1eadff;
  --main-color-600: #068fff;
  --main-color-700: #007bff;
  --main-color-950: #0e315d;
}

body{
    font-family: "Poppins", sans-serif;
}

/* REUSABLE CLASSES STARTS*/
.flex-column{
  display: flex;
  flex-direction: column;
}
/* REUSABLE CLASSES ENDS*/

.main{
  position: relative;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--size));
  gap: .5rem;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  background-color: var(--neutral-clr);
  min-height: 100vh;
}

.note{
  width: var(--size);
  height: var(--size);
  box-shadow: var(--bx-shadow);
}

.add-new-note{
  position: fixed;
  right: 0;
  bottom: 0;
  color: var(--main-color-950);
  cursor: pointer;
  width: auto;
  padding: 1rem;
  z-index: 3;
}

.add-new-note ion-icon{
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid var(--main-color-950);
  padding: 1rem;
  background-color: var(--main-color-100);
  transform: scale(1);
  transition: transform .2s ease;
}

.add-new-note:hover ion-icon{
  transform: scale(1.2);
}

.saved-notes{
  background-color: var(--main-color-100);
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  border-radius: .5rem;
}

.saved-notes p{
  font-size: 1.125rem;
  color: var(--main-color-950);
}

.saved-notes #note-length{
  display: block;
  color: var(--main-color-700);
  font-weight: 600;
}

.note{
  position: relative;
  padding: .5rem 1rem 0 1rem;
  justify-content: space-between;
  font-family: "Handlee", cursive;
  background-color: #A5DD9B;
}

.note .content{
  margin-top: 1rem;
  font-size: 1.25rem;
  overflow: auto;
  padding-bottom: .5rem;
}

.note .content::-webkit-scrollbar{
  display: none;
}

.content p{
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: .5rem;
}

.note .popup-options{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.popup-options ion-icon[name="ellipsis-vertical"]{
  display: block;
  margin: .5rem .5rem 0 auto;
  padding: .25rem;
  cursor: pointer;
  border: 1.5px solid var(--neutral-clr);
  border-radius: 50%;
}

.popup-options .options{
  position: absolute;
  top: 35px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: .375rem;
  padding: .25rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px 0px;
  backdrop-filter: blur(5px);
  transition: all .2s ease;
}

.options{
  opacity: 0;
  pointer-events: none;
}

.options.show{
  opacity: 1;
  pointer-events: auto;
}

.options button{
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: .5rem .5rem .25rem .5rem;
  cursor: pointer;
  transition: .2s ease;
  box-shadow: rgba(150, 150, 150, 0.4) 0px 0px 0px 2px, rgb(235, 235, 235) 0px 4px 6px -1px, rgb(255, 255, 255) 0px 1px 0px inset;
}

.options button:hover{
  color: var(--main-color-950);
}

.popup-box{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popup-box, .popup-box .popup{
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.popup-box.show, .popup-box .popup{
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.popup-box .popup{
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  margin: 1rem .5rem .5rem;
  background-color: var(--main-color-50);
  border: 1px solid var(--main-color-600);
}

.popup-box .popup .popup-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.popup-content h1{
  font-size: 1.125rem;
  color: var(--main-color-950);
}

.popup-content ion-icon{
  font-size: 1.75rem;
  padding: .5rem;
  cursor: pointer;
  color: var(--main-color-950);
}

.popup-box .popup .new-note{
  gap: 1rem;
}

.new-note textarea{
  height: 200px;
  resize: none;
  padding: .5rem;
  font-size: 14px;
}

.new-note button{
  padding: .5rem 0;
  cursor: pointer;
  background-color: var(--main-color-100);
  color: var(--main-color-950);
  transition: .2s ease-in-out;
}

.new-note textarea,
.new-note button,
.saved-notes{
  border: 1px solid var(--main-color-500);
}

.new-note button:hover{
  background-color: var(--main-color-200);
}

/* MEDIA QUERIES */
@media (min-width: 485px){
  :root{
    --size : 220px;
  }
}

@media(max-width: 485px){
  .saved-notes{
    height: 100px;
    padding: 1.5rem 1rem;
  }
}